@page "/weather"
@inject IInventoryUseCases _inventoryUseCase

<PageTitle>Inventories</PageTitle>

<br />
<br />
<ul>
    @if (_inventories is not null && _inventories.Count() > 0)
    {
        foreach (var inv in _inventories)
        {
            <li>@inv.Name - @inv.TotalPrice</li>
        }
    }
</ul>
@* This button won't do anything because this page is server side by default *@
<button class="btn btn-primary">Server Mode</button>
<span>@TextMe</span>

@code {
    private List<Inventory>? _inventories;
    private string TextMe = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _inventories = (await _inventoryUseCase.FilterByNameAsync()).ToList();
    }

    void Clickme()
    {
        TextMe = "I have been clicked";
    }
}
